<body id="dashboard">
      <section>
        <div class="container">
            <div id="user-card" class="d-flex justify-content-center">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <img id="user-image" src="./images/images/squidward.jpg">
                        <h5 class="card-title">Squiward Tenticales</h5>
                        <p class="card-text">Clarinet</p>
                      <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">View More</a>
                        </div>
                        <br>
                          <div class="collapse card-expand" id="collapseExample">
                              <br>
                              <div class="user-card-info col-lg-6 p-2">
                                <h3>Bio</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta nibh at quam cursus, id blandit sem eleifend. Nam nec cursus arcu, ac facilisis ipsum. Praesent eu tortor mi. Vivamus ac purus lobortis, vestibulum ipsum non, mollis ante. Maecenas et velit ipsum. Nam vitae nisi id mauris tristique laoreet. Fusce.</p>  
                              </div>
                              <div class="user-card-contact">
                                <button class="btn btn-outline-primary p-2"><i class="fas fa-mobile-alt"></i> 1-555-555-5555</button>
                                <br>
                                <button class="btn btn-outline-primary p-2"><i class="fas fa-mobile-alt"></i> 1-555-555-5555</button>
                              </div>
                           </div>
                    </div>
                  </div>
              </div>
        </div>
          
        
      </section> 
</body>